:root {
    --font: white;
    --gradient-primary: #1557A7;
    --gradient-secondary: #436C54;
    --box-shadow: rgba(68, 37, 147, 1.0);
    --button: #80b2ee;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    font-size: 1.1rem;
  }

html{
    font-family: 'Alkatra', cursive;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg, var(--gradient-primary), var(--gradient-secondary));
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    height: 65vh;
    min-width: 400px;
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button{
    box-shadow: 10px 19px 56px -20px var(--box-shadow);
    margin: 3px;
    font-family: 'Alkatra', cursive;
    background-color: var(--button);
    outline: none;
    border: none;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    padding-right: 10px;
    color: var(--font);
    min-height: 15vh;
    max-height: 15vh;
}

.currentNumber{
    font-size: 35px;
}

.previousNumber{
    font-size: 25px;
}

.sign{
    font-size: 25px;
}

.clear{
    grid-column: 1/3;
}

.equal{
    grid-column: -3/-1;
}